---
import "../styles/global.css";
---

<!doctype html>
<html class="scroll-smooth" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Oral ProFace - Implantología Estratégica</title>
    <meta
      content="Recuperamos tu sonrisa con implantología estratégica dental avanzada."
      name="description"
    />
    <link href="/imagenes/icon.jpg" rel="icon" type="image/jpeg" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
  </head>
  <body
    class="font-sans text-slate-600 bg-background-light antialiased transition-colors duration-300"
  >
    <slot />
  </body>
</html>
